/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
  url($font-file+'.woff') format('woff'),
  url($font-file+'.ttf') format('truetype'),
  url($font-file+'.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('TitilliumWeb', '/static/lib/font/titillium-web/TitilliumWeb-Regular');
@include font('TitilliumWeb-Black', '/static/lib/font/titillium-web/TitilliumWeb-Black');
@include font('TitilliumWeb-Bold', '/static/lib/font/titillium-web/TitilliumWeb-Bold');
@include font('TitilliumWeb-BoldItalic', '/static/lib/font/titillium-web/TitilliumWeb-BoldItalic');
@include font('TitilliumWeb-ExtraLight', '/static/lib/font/titillium-web/TitilliumWeb-ExtraLight');
@include font('TitilliumWeb-Italic', '/static/lib/font/titillium-web/TitilliumWeb-Italic');
@include font('TitilliumWeb-Light', '/static/lib/font/titillium-web/TitilliumWeb-Light');
@include font('TitilliumWeb-LightItalic', '/static/lib/font/titillium-web/TitilliumWeb-LightItalic');
@include font('TitilliumWeb-SemiBold', '/static/lib/font/titillium-web/TitilliumWeb-SemiBold');


@import url(/static/lib/font/github/github.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #1658C5;

$mainColor: #FFF;
$headingColor: #FFF;

$mainFontSize: 42px;
$mainFont: 'TitilliumWeb', sans-serif;
$headingFont: 'TitilliumWeb-Bold', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}




// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .footer {
  fill: #FFFFFF;
}

#footer-left {
  position: absolute;
  bottom: 2%;
  left: 2%;
    }

//Custom formatting for each slide
#title_and_subtitle {

}

#title {

}

#invertocat {

}

#wordmark {

}

#chapter_title_and_subtitle {

}

#chapter_tile {

}

#bottom_title {

}

#blank_with_logo {

}

#blank {

}

#title_with_bullets {

}

#two_column {

}

#title_with_subtitle {

}

#title_medium {

}

#bullets {

}